.about .about-content,
.skills .skills-content
    {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
    
  .max-width_skills {
    max-width: 1300px;
    margin: auto;
  }
  /*  Skills  */
  .skills {
    background: rgba(17, 17, 17, 0.35); /* Background color with 30% opacity */  
    border-radius: 60px;
  }
  .skills .title::after {
    content: "—What I Know ?—";
  }
  
  .skills .skills-content .column {
    width: calc(50% - 30px);
  }
  
  .skills .skills-content .left .text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color:#0e2355;
  }
  
  .skills .skills-content .left p {
    text-align: justify;
  }
  
  .skills .skills-content .left a {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
  }
  
  .skills .skills-content .left a:hover {
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
  }
  
  .intern,
  .project {
    list-style: none;
    font-weight: 500;
  line-height: 30px;
  font-size: 17px;
  }
  
  .intern::before,
  .project::before {
    content: "✪ ";
    color: #1e3551;
  }
  
  .skills .skills-content .right .bars {
    margin-bottom: 15px;
  }
  
  .skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
  }
  
  .skills .skills-content .right span {
    font-weight: 500;
    font-size: 20px;
  }
  
  .skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
  }
  
  .skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #1e3551;
  }
  
  .skills-content .right .python::before {
    width: 70%;
  }
  
  .skills-content .right .html::before {
    width: 99%;
  }
  
  .skills-content .right .css::before {
    width: 70%;
  }
  
  .skills-content .right .js::before {
    width: 40%;
  }
  
  .skills-content .right .bootstraps::before {
    width: 40%;
  }
  
  .skills-content .right .django::before {
    width: 40%;
  }
  