.welcomeSection {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
  }
 

  .welcomeSection h1 {
    color: #0e2355;
    font-size: 32px;
    padding-bottom:20px;
    font-weight:600;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .me {
    width: 250px;
    height: 100%;
    border-radius: 120px;
  } 
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .about_me{
    margin:0px;
    padding:0px;
  }
  
  .social-links {
    display: flex;
    margin-left: -30px;
  }
  
  .social-links a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
  }
  
  .social-links a .fab {
    font-size: 20px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
  }
  
  .social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: #000;
    background: linear-gradient(to top, #000046, #1cb5e0); 
    position: absolute;
    transition: 0.5s;
  }
  
  .social-links a:hover::after {
    top: 0;
  }
  
  .social-links a:hover .fab {
    color: #fff;
  }
  
  .social-links a:hover {
    transform: translateY(-10px);
  }
  
  